sqlmodel
requests
psycopg2
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.25.0,<0.26.0
openai==1.13.3
langchain==0.1.11
pinecone-client==3.1.0
python-dotenv==1.0.1
wolframalpha==5.0.0
firebase-admin==6.4.0